#wrapDiv {
  display: flex;
  justify-content: center;
  width: 100%;

  font-size: 20px;
}

#contentDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 20px;
  margin-top: 20px;
  max-width: 800px;
}

#leftDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#rightDiv {
  padding-top: 50px;
}

#favoriteDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}

#coverImg {
  width: 250px;
  border-radius: 15px;
  box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -webkit-user-drag: none;
}

#favoriteInput {
  width: 30px;
  height: 30px;
}

#titleH1 {
  margin-bottom: 0px;
}

#authorH2 {
  margin-bottom: 0px;
}